body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: #26242e;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

body.dark-mode a {
  color: #a3dafb;
}
